.media.list {
    .media.item {
        height: 200px;
        overflow: hidden;
        .if-is-mobile({
            height: auto;
            });
        &:hover{
            img {
                transform: scale(1.1);
            }
        }
        img {
            transition: transform 750ms;
            .img-responsive();
        }
    }
}