.media.list {
    .media.item {
        height: 200px;
        .cover{
            overflow: hidden;
        }
        .if-is-mobile({
            height: auto;
            });
        &:hover{
            .title {
                text-shadow: 0 1px whitesmoke; //NO FUNCIONA
            }
            img {
                transform: scale(1.1);
            }
        }
        img {
            transition: transform 750ms;
            .img-responsive();
        }
    }
}